@use '../assets/scss/var' as v;
@use '../assets/scss/mixin' as m;

.about{
    height: 200vh;
    background-color: v.$gray;
    .title{
      font-size: 25px;
    }
   .slideWrap{
      position: relative;
      width: 600px;
      height: 400px;
      margin: 0 auto;
      border-radius: v.$radius;
      overflow: hidden;
      box-shadow: v.$shadow;
      .slideImg{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.9s ease;
        opacity: 0;

        &.active{
          opacity: 1;
        }
      }
   } 
   .spacer{
    height: 200px;
   }
   .textBox{
      @include m.card;
      width: 700px;
      padding: 20px;
      line-height: 1.7;
      font-size: 12px;
      margin: 0 auto;
      margin-bottom: 50px;
   }

   .textBox[data-io="fade-up"]{
    will-change: transform, opacity;
    opacity: 0;
    transform: translateY(100px) scale(0.8);
    transition: all 0.8s ease;
   }

   .textBox[data-io="fade-up"][data-show="1"]{
      opacity: 1;
      transform: translateY(0) scale(1);
   }

   .textBox[data-io="fade-up"][data-show="0"]{
      opacity: 0;
      transform: translateY(100px) scale(0.8);
   }   
}