body{
  padding-top: 0px;
}

.wrap{

    h1{
      text-align: center;
    }

    .box{
        width: 800px;
        height: 300px;
        background-color: skyblue;
        border-radius: 20px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translate(0,0);
        transition: all 0.8s ease;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    .box[data-io="up"]{
        transform: translateY(100px);
    }
    .box[data-io="left"]{
        transform: translateX(-100px);
    }
    .box[data-io="right"]{
        transform: translateX(100px);
    }

    .box.show{
        opacity: 1;
        transform: translate(0, 0);
    }
}