@use '../assets/scss/var' as v;
@use '../assets/scss/mixin' as m;
@use 'sass:color';

.gallery{
    background-color: white;

    .grid{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card{
        @include m.card;
        overflow: hidden;
        animation: fadein 0.8s ease forwards;
        transition: all 0.3s ease;

        &:hover{
            transform: translateY(-4px);
            background-color: color.adjust(rgba(0, 0, 0, 0.15), $lightness: 10%);

            img{
                transform: scale(1.03);
            }
        }
        
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: all 0.3s ease;
        }

        .title{
            font-weight: bold;
            text-align: center;
            padding: 20px;
        }
    }

    @keyframes fadein {
        from{
            opacity: 0;
            transform: translateY(17px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}