.container{
    padding: 40px;
    text-align: center;

    .mainCon{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        margin: 20px auto;
    }
}
