.weather{
    width: 1400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border: 10px solid rgba(0, 0, 139, 0.685);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;

    .info{
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(166, 219, 235);
        border-radius: 15px;
        box-shadow: 15px 20px 40px rgba(166, 219, 235, 0.7);
        // border: 2px solid darkblue;

        .datas{
            width: 100%;
            display: flex;
            justify-content: center;
            

            & > div{
                width: 20%;
                font-weight: bold;
                // border: 1px solid black;
            }

            img{
                width: 50%;
                // border: 1px solid black;
            }
        }
    }

    .map{
        width: 50%;
        height: 500px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        // border: 2px solid darkblue;
    }
}
