.sub{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.sub_title{
    color: black;
    text-align: center;
}

.sub_des{
    color: maroon;
    font-weight: 900;
    font-size: 20px;
}